
<div class="container">
<% if can? :create, Branch %>
  <%= link_to "Crear Sucursal", new_branch_path, class: "btn btn-outline-success float-right" %> 
<% end %>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sucursal</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Horarios</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <% @branches.each do |branch| %>
        <tr>
          <td><%= branch.name %></td>
          <td><%= branch.address %></td>
          <td><%= branch.phone %></td>
          <td>
            <% branch.schedules.each do |schedule| %>
              <%= Schedule.i_to_days schedule.day %>
              <%= schedule.start.strftime "%H:%M" %>
              <%= schedule.finish.strftime "%H:%M" %>
              </br>
            <%end%>
          </td>
        <td>
          <%= link_to "Ver", branch, class: "btn btn-outline-info" %>
          <% if can? :update, branch %>
            <%= link_to "Editar", edit_branch_path(branch), class: "btn btn-outline-primary" %>
          <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
