<div class="jumbotron">
  <h1 class="display-4"><%= @branch.name%></h1>
  <p class="lead"> Direccion: <%= @branch.address%></p>
  <p class="lead"> Telefono: <%= @branch.phone%></p>
  <p class="lead"> Horarios: 
            <% @branch.schedules.each do |schedule| %>
              </br>
              <%= Schedule.i_to_days schedule.day %>
              <%= schedule.start.strftime "%H:%M" %>
              <%= schedule.finish.strftime "%H:%M" %>
            <%end%>
  </p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Editar", edit_branch_path(@branch), class:"btn btn-outline-primary" %>
    <%= link_to "Eliminar", @branch, method: :delete, data: { turbo_method: "delete", confirm: 'Estas seguro?' }, class:"btn btn-outline-danger" %>
    <%= link_to "Volver", branches_path, class:"btn btn-outline-secondary"%>
  </p>
</div>
