<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :start, style: "display: block" %>
    <%= form.time_field :start %>
  </div>

  <div class="field form-group">
    <%= form.label :finish, style: "display: block" %>
    <%= form.time_field :finish %>
  </div>

  <div class="field form-group">
    <%= form.label :day, style: "display: block" %>
    <%= form.select :day, options_for_select([["Lunes", 0], ["Martes", 1], ["Miércoles", 2], ["Jueves", 3], ["Viernes", 4], ["Sábado", 5], ["Domingo", 6]]) %>
  </div>
  
  <div class="field form-group">
    <%= form.label :branch, style: "display: block" %>
    <%= form.collection_select :branch_id, Branch.all, :id, :name, include_blank: false, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-outline-success"%>
  </div>
<% end %>
