<%= form_with(model: turn) do |form| %>
  <% if turn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turn.errors.count, "error(es)") %>impideron guardar el turno:</h2>

      <ul>
        <% turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :branch, style: "display: block" %>
    <%= form.collection_select :branch_id, Branch.all, :id, :name, include_blank: false, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div class="field form-group">
    <%= form.label :reason, style: "display: block" %>
    <%= form.text_field :reason %>
  </div>

  <div class="field form-group">
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.submit "Guardar", class:"btn btn-success" %>
  </div>
<% end %>
