<div id="<%= dom_id turn %>">
  <p>
    <strong>Branch:</strong>
    <%= turn.branch_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= turn.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= turn.date %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= turn.reason %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= turn.status %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= turn.comment %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= turn.staff_id %>
  </p>

</div>
