<p style="color: green"><%= notice %></p>

<div class="container">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sucursal</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">A Cargo De</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
        <% @turns.each do |turn| %>
        <tr>
          <td><%= turn.branch.name %></td>
          <td><%= turn.user.email %></td>
          <td><%= turn.date.strftime("%d/%m/%Y")%> <%= turn.date.strftime("%H:%M") %></td>
          <% if turn.staff.nil? %>
            <td> No Atendido </td>
          <% else %>
            <td><%= turn.staff.email %></td>
          <% end %>
          <td><%= turn.status_to_s %></td>
        <td>
          <%= link_to "Ver", turn, class: "btn btn-outline-info" %>
          <% if current_user.role == "admin" %>
            <%= link_to "Editar", edit_turn_path(turn), class: "btn btn-outline-primary" %>
          <% end %>
        </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
