<p style="color: green"><%= notice %></p>
<div class="jumbotron">
  <h1 class="display-4"><%= @turn.status_to_s %></h1>
  <p class="lead"> Cliente: <%= @turn.user.email %> </p>
  <p class="lead"> Sucursal: <%= @turn.branch.name %> </p>
  <p class="lead"> Motivo: <%= @turn.reason %> </p>
  <p class="lead"> Fecha: <%= @turn.date.strftime("%d/%m/%Y")%> <%= @turn.date.strftime("%H:%M") %></p>
  <p class="lead"> Hora: <%= @turn.date.strftime("%H:%M") %></p>
  <p class="lead"> Empleado: <%= @turn.staff %> </p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to "Editar", edit_turn_path(@turn), class:"btn btn-outline-primary" %>
    <%= link_to "Eliminar", @turn, method: :delete, data: { turbo_method: "delete", confirm: 'Estas Seguro?' }, class:"btn btn-outline-danger" %>
    <%= link_to "Volver", turns_path, class:"btn btn-outline-secondary"%>
  </p>
</div>

